version: '3.9'
services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    environment:
      - PORT=4000
      - CLIENT_ORIGIN=http://localhost:5173
      - MONGO_URI=mongodb://mongo:27017/learnato
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  client:
    build: ./client
    environment:
      - VITE_API_BASE=http://localhost:4000
    ports:
      - "5173:5173"
    depends_on:
      - server

volumes:
  mongo-data:
